html {
  font-family: "Open Sans" sans-serif;
  background-color: white;
  margin: 0;
}

body {
  margin: 0px 50px;
}

nav {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  margin: 3rem 1.5rem 1.5rem;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
}

nav .logo img {
  width: 9rem;
  margin: 10px 3rem 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 35rem;
  list-style: none;
}

nav ul li {
  color: black;
  padding: 7px 10px;
}

nav ul li :hover {
  color: gray;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.side-bar {
  border-radius: 15px;
  width: 20rem;
  height: 100vh;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.flex-conatiner {
  display: flex;
}

.diagnosis {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 15px;
  width: 47rem;
  height: 70vh;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.diagnosis_sub {
  display: flex;
}
.diagnosis_sub_sub {
  display: flex;
  margin-left: 5rem;
  padding-bottom: 1.5;
}
.diagnosis_data {
  width: 10rem;
  height: fit-content;
  margin: 7px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.diagnosis_data,
img,
small,
div {
  margin-left: 9px;
}

.heart {
  background-color: #ffe6f1;
}

.temp {
  background-color: #ffe6e9;
}

.resp {
  background-color: #e0f3fa;
}

.diagnosis_data img {
  width: 3rem;
}
#sys,
#dia {
  list-style: none;
  margin-right: 10px;
}
.canvas {
  width: 33rem;
  height: 18rem;
}

.diagnosis-history {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 45rem;
  height: 29vh;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.chart {
  width: 15rem;
  /* background-color: blueviolet; */
}

.user_profile {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 20rem;
  height: 73vh;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.user_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

#user {
  list-style: none;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 20rem;
  height: 25vh;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}
